.team {
    width: 100%;
    text-align: center;
    padding: 32px;
}
.team h3 {
    /* width: 100%; */
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.team .collabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 32px;
}